<!DOCTYPE html>
<html lang="zxx">

<head>
  <!-- meta tag -->
  <meta charset="utf-8" />
  <title>Graphics Designing Course | Best Institute in Rawalpindi</title>

  <meta name="keywords"
    content="graphics designing course in rawalpindi islamabad pakistan,freelancing in Rawalpindi , Graphics Designing course,Graphics Designing tutorial, professional graphics designing,online graphic design courses" />
  <meta name="description"
    content="Graphics designing course in Rawalpindi Islamabad pakistan  is the best course to start your freelancing career and earn from home. We focus on both, printing press and freelancing" />
  <meta property="og:title" content="Graphics Designing" />
  <meta property="og:description"
    content="Graphic designing course in rawalpindi is designed to develop a strong foundation of the students for developing powerful visual communications." />
  <meta property="og:type" content="education" />

  <!-- responsive tag -->
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- favicon -->
  <link rel="apple-touch-icon" href="apple-touch-icon.html" />
  <link rel="shortcut icon" type="image/x-icon"   href="assets/images/fitlogo.png" />
  <!-- Bootstrap v4.4.1 css -->
  <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css" />
  <!-- font-awesome css -->
  <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.min.css" />
  <!-- animate css -->
  <link rel="stylesheet" type="text/css" href="assets/css/animate.css" />
  <!-- off canvas css -->
  <link rel="stylesheet" type="text/css" href="assets/css/off-canvas.css" />
  <!-- linea-font css -->
  <link rel="stylesheet" type="text/css" href="assets/fonts/linea-fonts.css" />
  <!-- flaticon css  -->
  <link rel="stylesheet" type="text/css" href="assets/fonts/flaticon.css" />
  <!-- Main Menu css -->
  <link rel="stylesheet" href="assets/css/rsmenu-main.css" />
  <!-- spacing css -->
  <link rel="stylesheet" type="text/css" href="assets/css/rs-spacing.css" />
  <!-- style css -->
  <link rel="stylesheet" type="text/css" href="style.css" />
  <!-- This stylesheet dynamically changed from style.less -->
  <!-- responsive css -->
  <link rel="stylesheet" type="text/css" href="assets/css/responsive.css" />

  <!-- Whatsapp Floating Button Link Start -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
  <a href="https://api.whatsapp.com/send?phone=923445701828" class="float" target="_blank">
    <i class="fa fa-whatsapp my-float"></i>
  </a>
  <!-- Whatsapp Floating Button Link End -->
</head>

<body class="defult-home">
  <!--Preloader area start here
    <div id="loader" class="loader orange-color">
      <div class="loader-container">
        <div class="loader-icon">
          <img src="assets/images/logo/future-it-icon.png" alt="" />
        </div>
      </div>
    </div>
  Preloader area End here-->

  <!--Full width header Start-->
  <div class="full-width-header header-style1 home8-style4">
    <!--Header Start-->
    <header id="rs-header" class="rs-header">
      <!-- Menu Start -->
      <div class="menu-area menu-sticky">
        <div class="container">
          <div class="row y-middle">
            <div class="col-lg-2">
              <div class="logo-cat-wrap">
                <div class="logo-part">
                  <a href="index.html">
                    <img class="sticky-logo" src="assets/images/logo/future-it-black-logo.png" alt="" />
                  </a>
                </div>
              </div>
            </div>
            <div class="col-lg-8 text-right">
              <div class="rs-menu-area">
                <div class="main-menu">
                  <div class="mobile-menu">
                    <a class="rs-menu-toggle">
                      <i class="fa fa-bars"></i>
                    </a>
                  </div>
                  <nav class="rs-menu">
                    <ul class="nav-menu">
                      <li class="rs-mega-menu mega-rs menu-item-has-children">
                        <a href="index.html">Home</a>
                      </li>

                      <li class="menu-item-has-children current-menu-item">
                        <a href="All-Courses-List.html">Courses</a>
                      </li>

                      <li class="menu-item-has-children">
                        <a href="faq.html">FAQ</a>
                      </li>

                      <li class="menu-item-has-children">
                        <a href="jobs.html">Jobs</a>
                      </li>

                      <li class="menu-item-has-children">
                        <a href="about.html">About</a>
                      </li>

                      <li class="menu-item-has-children">
                        <a href="form2.php">Contact</a>
                      </li>
                    </ul>
                    <!-- //.nav-menu -->
                  </nav>
                </div>
                <!-- //.main-menu -->
              </div>
            </div>
            <div class="col-lg-2 text-right">
              <div class="expand-btn-inner">
                <ul></ul>
                <a id="nav-expander" class="nav-expander style2">
                  <span class="dot1"></span>
                  <span class="dot2"></span>
                  <span class="dot3"></span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Menu End -->

      <!-- Canvas Menu start -->
      <nav class="right_menu_togle hidden-md">
        <div class="close-btn">
          <div id="nav-close">
            <div class="line">
              <span class="line1"></span><span class="line2"></span>
            </div>
          </div>
        </div>
        <div class="canvas-logo">
          <a href="index-2.html"><img src="assets/images/logo/future-it-black-logo.png" alt="logo" /></a>
        </div>
        <div class="offcanvas-text">
          <p>
            FIT computer institute providing the service of computer short
            courses in rawalpindi since 2012 in Pakistan.Design creates culture,culture shapes values,values determines the future.
So , what are you waiting for, hurryup and let's join us;
FIT institute provides a great opportunity for those who wants to learn graphic designing course in rawalpindi training center 
where you can easily fulfil your dreams by earning alot of money from your home. 
"Be your own BOSS."
Graphic Design course provides you a lot of scopes like freelancing. No fear for being jobless 
and don't need to be worried about future.
so come fast in graphic design institute near six road Rawalpindi.
          </p>
        </div>
        <div class="map-img">
          <img src="assets/images/map.webp" alt="graphic design course" />
        </div>
        <div class="canvas-contact">
          <ul class="social">
            <li>
              <a href="https://www.facebook.com/profile.php?id=100086346852414"><i class="fa fa-facebook"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-twitter"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-linkedin"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
            </li>
            <li>
              <a href="https://api.whatsapp.com/send?phone=923445701828"><i class="fa fa-whatsapp"
                  aria-hidden="true"></i></a>
            </li>
          </ul>
        </div>
      </nav>
      <!-- Canvas Menu end -->
    </header>
    <!--Header End-->
  </div>
  <!--Full width header End-->

  <!-- Main content Start -->
  <div class="main-content">
    <!-- Breadcrumbs Start -->
    <div class="rs-breadcrumbs breadcrumbs-overlay">
      <div class="breadcrumbs-img">
        <img src="assets/images/breadcrumbs/2.jpg" alt="graphic design course in rawalpindi" />
      </div>
      <div class="breadcrumbs-text white-color">
        <h3 class="page-title">Graphic Designing institute or training center</h3>
        <ul>
          <li>
            <a class="active" href="index-2.html">Home</a>
          </li>
          <li>Graphic Designing course </li>
        </ul>
      </div>
    </div>
    <!-- Breadcrumbs End -->
    <div class="sec-title3 text-center mb-45 mt-20" title="Computer institute in Rawalpindi">

      <h1 class="title black-color">
         Graphic design course institute in Rawalpindi Pakistan
      </h1>
      <div class="row">
        <div class="col-lg-2 col-md-6 mb-30 programming">
        </div>
        <div class="col-lg-8 col-md-12 mb-30 microsoft">
          <p>
              If you are search graphic design trainig center or graphic design institute in rawlpindi
              so FIT computer institute providing graphic design course in rawalpindi.
            Graphic designing skill is very easy to learn and get money form online platform like facebook freelancing etc.
            computer institute providing computer courses in rawalpindi pakistan.
            we are aslo providing c plus plus courses in rawalpindi( c++ course institute in rawalpindi )
            web development course in rawalpindi ( web development institute ) ,
            Mobile app development course in rawalpindi , Node js course in rawalpindi
          </p>
        </div>

      </div>
    </div>
 
  <!-- Intro Courses -->
  <section class="intro-section gray-bg pt-94 pb-100 md-pt-64 md-pb-70">
    <div class="container">
      <div class="row clearfix">
        <!-- Content Column -->
        <div class="col-lg-8 md-mb-50">
          <!-- Intro Info Tabs-->
          <div class="intro-info-tabs">
            <ul class="nav nav-tabs intro-tabs tabs-box" id="myTab" role="tablist">
              <li class="nav-item tab-btns">
                <a class="nav-link tab-btn active" id="prod-overview-tab" data-toggle="tab" href="#prod-overview"
                  role="tab" aria-controls="prod-overview" aria-selected="true">Content</a>
              </li>
            </ul>
            <div class="tab-content tabs-content" id="myTabContent">
              <div class="tab-pane tab fade show active" id="prod-overview" role="tabpanel"
                aria-labelledby="prod-overview-tab">
                <div class="content white-bg pt-30">
                  <!-- Cource Overview -->
                  <div class="course-overview">
                    <div class="inner-box">
                      <h4>Course Details</h4>

                      <p>
                       Prepare a career  in the high growth  field of Graphic designing ,no experience or degree required.With a professional training designed by FIT ,get a fast track to  a competative paid job.
Fit  is the best instituete in rawalpindi/islamabad.there are currently  99,000  U.S.   jobs   openings   in creative web designing ,UI/UX   with a median salary of   $92,000. 	
                      </p>
                      <p>
                  Graphic Designing   focus on the interaction that user have with the products like poster making,logo designing,photoshop ,websites ,apps and physical objects .									
our course  will prepare you  for a entry level job.									
You will create design on paper ,digital design tools  like adobe phtoshop,Figma,Adobe XD,Adobe Photoshop
                      </p>
                      <p>
                        Graphics 1 Month Course Fee =
                        <strong>Rs. 8,000/-</strong>
                      </p>
                      <p>
                        Graphics 2 Months Course Fee =
                        <strong>Rs. 16,000/-</strong>
                      </p>
                      <p>
                        Graphics 3 Months Course Fee =
                        <strong>Rs. 18,000/-</strong>
                      </p>
                      <p>
                        Graphics and Web Designing and UI Designing with
                        intership 6 Months Course Fee =
                        <strong>Rs. 24,000/-</strong>
                      </p>

                      <p>
                        <b>
                          you can pay your course fee in installment.
                        </b>
                      </p>

                      <p>
                        <strong>Note:</strong> Adobe InDesign(Ai) are include in
                        just 6 Month Graphic Desinging Course.UI Mean you
                        make user interface not UI/UX if you want to enroll
                        in the course of UI/UX which have you make the layout of Mobile App and
                        website you must learn Adobe XD(Axd) tool for this course
                        please contact with FIT computer institute.
                      </p>

                      <ul class="student-list">
                        <li>15,324 Total Students</li>
                        <li>
                          <span class="theme_color">4.5</span>
                          <span class="fa fa-star"></span><span class="fa fa-star"></span><span
                            class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span>
                          (1453 Rating)
                        </li>
                        <li>684 Reviews</li>
                      </ul>
                      <h3>What you’ll learn?</h3>

                      <h3>1) &nbsp; Adobe Illustrator Professional:</h3>
                      <h6>Introduction</h6>
                      <p>
                        Whether it’s a graphic designer, web designer,
                        photographer or digital media expert, Adobe
                        Illustrator is the tool used for digital creative
                        purpose.
                      </p>
                      <p>
                        It also covers the fundamentals which are required
                        to learn to master the designing skills on
                        Illustrator.
                      </p>

                      <ul class="review-list">
                        <li>Concept of layers in Illustrator</li>
                        <li>Concept of masking in Illustrator</li>
                        <li>Logo design and its fundamentals</li>
                        <li>
                          Evolution of the alphabet and letter-form design
                        </li>
                        <li>Working with clients</li>
                        <li>Process of creating mobile layouts</li>
                        <li>Process of creating website layouts</li>
                        <li>Color and its use in digital space</li>
                        <li>Defining a perspective grid</li>
                        <li>Drawing artwork in perspective</li>
                        <li>Saving & Printing your artwork</li>
                        <li>Saving for the web</li>
                        <li>Creating and editing gradients</li>
                        <li>Aligning and distributing objects</li>
                        <li>Creating files for print & Web</li>
                        <li>Blur, Gaussian blur</li>
                        <li>Various tools, tool options</li>
                        <li>Logo Designing</li>
                        <li>Brochure Designing</li>
                        <li>Visiting Cards and Letterheads</li>
                        <li>Facebook Coverages</li>
                        <li>3D Logos and 3D Objects</li>
                        <li>Learn how to create Info Graphics designs</li>
                      </ul>

                      <h3>2) &nbsp; Adobe Photoshop Professional:</h3>

                      <h6>Introduction</h6>

                      <p>
                        Adobe Photoshop is a photo editing tool. Adobe
                        Photoshop Professional course is designed as job
                        oriented course for graphics and web designers.
                      </p>

                      <ul class="review-list">
                        <li>Impact of various photographic compositions</li>
                        <li>
                          The process of cropping and manipulate photographs
                          to enhance meaning
                        </li>
                        <li>Layout and advert design/editorial design</li>
                        <li>Professional layout examples</li>
                        <li>Process of creating mobile layouts</li>
                        <li>
                          Process of creating assets for mobile apps
                          (looking at specific design/layout sizes commonly
                          used in mobile app design)
                        </li>
                        <li>Resolution and quality issues</li>
                        <li>Viewing/opening documents</li>
                        <li>Toolbar</li>
                        <li>Background v layer, creating layers</li>
                        <li>Changing background</li>
                        <li>Preserving data</li>
                        <li>Re-arranging</li>
                        <li>Hiding, locking/unlocking</li>
                        <li>Naming, deleting</li>
                        <li>Layer opacity</li>
                        <li>Shadow effect</li>
                        <li>Glow effect</li>
                        <li>Bevel & Emboss effect</li>
                        <li>Warp Text</li>
                        <li>Text with underline and Strikethrough</li>
                        <li>Text with mask</li>
                        <li>Color Overlay</li>
                        <li>Gradient Overlay</li>
                        <li>Pattern Overlay</li>
                        <li>Stroke</li>
                        <li>Image sizes (handout)</li>
                        <li>Image size vs. canvas size</li>
                        <li>Cropping (and resizing), plus manual</li>
                        <li>Image modes</li>
                        <li>
                          Save options, file formats for InDesign, web etc.
                        </li>
                        <li>Paths to Illustrator</li>
                        <li>Keyboard shortcuts</li>
                      </ul>

                      <h3>3) &nbsp; Corel Draw:</h3>
                      <ul class="review-list">
                        <li>Exploring the CorelDraw Screen</li>
                        <li>File Management</li>
                        <li>Freehand Tool</li>
                        <li>Rectangle Tool</li>
                        <li>Ellipse Tool</li>
                        <li>Setting Up the Page</li>
                        <li>
                          Deleting, Moving, Scaling, Rotating & Skewing
                        </li>
                        <li>
                          Shape Tool - Used to give shape(curve) to a line
                        </li>
                        <li>
                          Knife Tool - Used to cut an object from node to
                          node
                        </li>
                        <li>Erase Tool</li>
                        <li>Using Multiple Workspaces</li>
                        <li>Customizing the Toolbars</li>
                        <li>Using Shortcuts</li>
                        <li>Saving Defaults</li>
                        <li>Setting File Backup</li>
                        <li>Outline Pen</li>
                        <li>Outline Color</li>
                        <li>No Outline</li>
                        <li>Outline Thickness</li>
                      </ul>

                      <h3>3) &nbsp; Adobe InDesign Professional:</h3>
                      <ul class="review-list">
                        <li>Create magazines, newspapers.</li>
                        <li>Create E-Books,flyers.</li>
                        <li>Postcards, stickers, comics.</li>
                      </ul>
                      <h3>Excercises:</h3>
                      <ul class="review-list">
                        <li>Logotypes</li>
                        <li>Icons</li>
                        <li>Brochures</li>
                        <li>UI mockups</li>
                        <li>Banners</li>
                        <li>Business Cards</li>
                        <li>Facebooks ads and cover</li>
                        <li>Info Graphics Designs</li>
                        <li>Drawing and sketching</li>
                        <li>Other design exercise games</li>
                        <li>Redesign an existing brand</li>
                        <li>Ebook Cover and Layout</li>
                        <li>Branding Starter Kit</li>
                        <li>
                          Wallpaper in Adobe Illustrator and Adobe Photoshop
                        </li>
                        <li>Creating Advertisments with Urdu text</li>
                      </ul>

                      <h4>Freelancing</h4>
                      <p>This Course also included Freelancing training for earn money.</p>
                      <p>
                        <strong>Note:</strong>
                        When student complete his course that will be rewarded certficate.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Video Column -->
        <div class="video-column col-lg-4">
          <div class="inner-column">
            <!-- Video Box -->
            <div class="intro-video media-icon orange-color2">
              <img class="video-img" src="assets/images/logo.jpeg" alt="Graphic Designing course" />
             
            </div>
            <!-- End Video Box -->
            <div class="course-features-info">
              <ul>
                <li class="lectures-feature">
                  <i class="fa fa-files-o"></i>
                  <span class="label">Lectures</span>
                  <span class="value">20+</span>
                </li>

                <li class="quizzes-feature">
                  <i class="fa fa-puzzle-piece"></i>
                  <span class="label">Quizzes</span>
                  <span class="value">5+</span>
                </li>

                <li class="duration-feature">
                  <i class="fa fa-clock-o"></i>
                  <span class="label">Duration</span>
                  <span class="value">3 Months </span>
                </li>

                <li class="students-feature">
                  <i class="fa fa-users"></i>
                  <span class="label">Students</span>
                  <span class="value">43</span>
                </li>

                <li class="assessments-feature">
                  <i class="fa fa-check-square-o"></i>
                  <span class="label">Assessments</span>
                  <span class="value">Yes</span>
                </li>
              </ul>
            </div>

            <div class="btn-part">
              <a href="form2.php" class="btn readon2 orange">18000/- PKR</a>
              <a href="form2.php" class="btn readon2 orange-transparent">Buy Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End intro Courses -->

  <!-- Newsletter section start -->
  <div class="rs-newsletter style1 gray-bg orange-color mb--90 sm-mb-0 sm-pb-70">
    <div class="container">
      <div class="newsletter-wrap">
        <div class="row y-middle">
          <div class="col-lg-6 col-md-12 md-mb-30">
            <div class="content-part">
              <div class="sec-title">
                <div class="title-icon md-mb-15">
                  <img src="assets/images/newsletter.png" alt="Graphic Designing course" />
                </div>
                <h2 class="title mb-0 white-color">
                  Subscribe to Newsletter
                </h2>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <form class="newsletter-form">
              <input type="email" name="email" placeholder="Enter Your Email" required="" />
              <button type="submit">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Newsletter section end -->
  </div>
  <!-- Main content End -->

  <!-- Footer Start -->
  <footer id="rs-footer" class="rs-footer home9-style main-home">
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-12 col-sm-12 footer-widget md-mb-50">
            <div class="footer-logo mb-30">
              <a href="index-2.html"
                ><img
                  src="assets/images/logo/future-it-white-logo.png"
                  alt="Graphic Designing course"
              /></a>
            </div>
            <div class="textwidget pr-60 md-pr-15">
              <p class="white-color">
         FIT computer institute in rawalpindi providing the service of computer short courses in 2012 in Pakistan. We developed many personalities that working in Different IT sector of Government and private.
              </p>
            </div>
            <ul class="footer_social">
              <li>
                <a
                  href="https://www.facebook.com/profile.php?id=100086346852414"
                  target="_blank"
                  ><span><i class="fa fa-facebook"></i></span
                ></a>
              </li>
              <li>
                <a href="#" target="_blank"
                  ><span><i class="fa fa-twitter"></i></span
                ></a>
              </li>

              <li>
                <a
                  href="https://api.whatsapp.com/send?phone=923445701828"
                  target="_blank"
                  ><span><i class="fa fa-whatsapp"></i></span
                ></a>
              </li>
              <li>
                <a
                  href="#"
                  target="_blank"
                  ><span><i class="fa fa-linkedin"></i></span
                ></a>
              </li>
              <li>
                <a
                  href="#"
                  target="_blank"
                  ><span><i class="fa fa-youtube-play"></i></span
                ></a>
              </li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-12 col-sm-12 footer-widget md-mb-50">
            <h3 class="widget-title">Address</h3>
            <ul class="address-widget">
              <li>
                <i class="flaticon-location"></i>
                <div class="desc">
             Office NO S-64 Malikabad Shopping Mall near BIMS university 6th road Rawalpindi.
                </div>
              </li>
              <li>
                <i class="flaticon-call"></i>
                <div class="desc">
                  <a href="tel:0344-5701828">0344-5701828</a>
                </div>
              </li>
              <li>
                <i class="flaticon-email"></i>
                <div class="desc">
                  <a href="mailto:hrfutureit@gmail.com"
                    >hrfutureit@gmail.com</a
                  >
                </div>
              </li>
            </ul>
          </div>
          
          <div
            class="col-lg-3 col-md-12 col-sm-12 pl-50 md-pl-15 footer-widget md-mb-50"
          >
            <h3 class="widget-title">Courses</h3>
            <ul class="site-map">
              <li><a href="All-Courses-List.html">1 Month Courses</a></li>
              <li><a href="All-Courses-List.html">2 Month Courses</a></li>
              <li><a href="All-Courses-List.html">3 Month Courses</a></li>
              <li><a href="All-Courses-List.html">6 Month Courses</a></li>
            </ul>

          </div>
          
          <div class="col-lg-3 col-md-12 col-sm-12 pl-50 md-pl-15 footer-widget md-mb-50">
            <h3 class="widget-title">Blogs</h3>
            <p style="color:white">
             Best computer courses mean?
             Learn valuebale course for earn money.so fit computer institute providing best computer courses in rawalpindi.
             beacuse fit is one of the best computer institute in rawalpindi
             .
             What is web development courses?
             For any kind of work you need a Website. Website is explain you work and Business. so we are introduced best web development courses in rawalpinndi
             in best computer institute in rawalpindi FIT computer institute.
    
          </p>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <div class="row y-middle">
          <div class="col-lg-6 md-mb-20">
            <div class="copyright">
              <p>
                &copy; All rights reserved by FIT Computer Institute 
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- Footer End -->

  <!-- start scrollUp  -->
  <div id="scrollUp" class="orange-color">
    <i class="fa fa-angle-up"></i>
  </div>
  <!-- End scrollUp  -->

  <!-- Search Modal Start -->
  <div aria-hidden="true" class="modal fade search-modal" role="dialog" tabindex="-1">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span class="flaticon-cross"></span>
    </button>
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="search-block clearfix">
          <form>
            <div class="form-group">
              <input class="form-control" placeholder="Search Here..." type="text" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Search Modal End -->

  <!-- modernizr js -->
  <script src="assets/js/modernizr-2.8.3.min.js"></script>
  <!-- jquery latest version -->
  <script src="assets/js/jquery.min.js"></script>
  <!-- Bootstrap v4.4.1 js -->
  <script src="assets/js/bootstrap.min.js"></script>
  <!-- magnific popup js -->
  <script src="assets/js/jquery.magnific-popup.min.js"></script>
  <!-- Menu js -->
  <script src="assets/js/rsmenu-main.js"></script>
  <!-- wow js -->
  <script src="assets/js/wow.min.js"></script>
  <!-- plugins js -->
  <script src="assets/js/plugins.js"></script>
  <!-- contact form js -->
  <script src="assets/js/contact.form.js"></script>
  <!-- main js -->
  <script src="assets/js/main.js"></script>
</body>

</html>